doctype html  
html
	include include/header.pug
	include include/variables.pug
	body 
		#slider  
			each slide in slidercontent
				.slide-present
					img(src=slide.img)
					.slider-content  
						img(src=slide.fontImage)
						p= slide.p  
		include include/footer.pug 
 
