doctype html  
html
	include include/header.pug
	include include/variables.pug
	body
		.container-product
			.head-product-block
				.line-links
					a.prev Prev
					.bread-crumbs-block
						a(href='') Catalog
						span
							img(src='./dist/img/crambnext.svg')
						a(href='#') Water
						span
							img(src='./dist/img/crambnext.svg')
						a(href='#') Bottled Water
					a.next Next
				.product-block
					h1 Buxton Sparkling Mineral Water 8 X 500 Ml Pack
					.img-product
						img(src='./dist/img/buxton.jpg')
					.block-price-and-count
						p.price $52.00
						.product-count
							a.minus
							p 1
							a.plus
						a.add Add
		.container-about-product
			.inside-container-about
				.product-description
					h1 Product Description
					p Natural Mineral Water
						br
						br
						| And because our pure water naturally bursts from St Ann’s Spring in the Peak District, we do our best to keep nature on side. With our zero waste certified factory and 100% recyclable bottles, sustainability is at the heart of everything we do.
						br
						br
						| Whatever the occasion, our lively bubbles in our sparkling natural mineral water are sure to deliver instant refreshment. Ideal for taking with you to add some fizzy sparkle to days out and lunchboxes, our multipack keeps a natural sparkling sensation in easy reach every day.
						br
						br
						| Let’s do this, Britain - today is here for the taking! Luckily for you, Buxton’s Sparkling Natural Mineral Water is always on hand. Bring some sparkle to your busy day and revitalise on the go with our natural water.
						br
						br
						| Sparkle the natural way
						br
						br
						| Pack size: 50cl
						br
						br
						| Sugar free
					h1 Information
					p Storage
						br
						br
						| Store in a cool, dry, clean place away from light, strong odours or chemicals. Consume within 3 days of opening., Best Before End: See Bottle
						
				.nutrition
					h1 Nutrition
					.table-haracter
						.block-table
							p Calcium	
							span 55
						.line-horizontal
					.table-haracter
						.block-table
							p Magnesium	
							span 19
						.line-horizontal
					.table-haracter
						.block-table
							p Potassium	
							span 1
						.line-horizontal
					.table-haracter
						.block-table
							p Sodium	
							span 24
						.line-horizontal
					.table-haracter
						.block-table
							p Bicarbonate		
							span 248
						.line-horizontal
					.table-haracter
						.block-table
							p Chloride		
							span 27
						.line-horizontal
					.table-haracter
						.block-table
							p Calcium		
							span 55
						.line-horizontal
					.table-haracter
						.block-table
							p Magnesium	
							span 19
						.line-horizontal
					.table-haracter
						.block-table
							p Potassium	
							span 1
						.line-horizontal
	include include/footer.pug
