body
	margin 0
	width: 100%
	min-width: 1295px
	overflow-x: hidden
	.slick-slide
		&:focus, a
			outline: none
	.slick-list
		padding-top: 15px
		padding-bottom: 30px
	a
		cursor pointer
		transition: all 0.3s ease
		text-decoration: none
		&:hover
			transition: all 0.3s ease
	header
		width 100%
		height 100px
		background #3A1955
		#header
			height: 91px
			display -ms-flexbox
			display flex
			-ms-flex-pack center
			justify-content center
			.navBurger, .overlay
				display none
			.container
				width: 100%
				padding-top 36px
				display -ms-flexbox
				display flex
				flex-flow: row
				-ms-flex-pack center
				justify-content: space-between
				max-width 1280px
				.logo
					display: flex
					margin-right: 40px
				.search
					width: 560px
					height: 40px
					border-radius: 8px
					background: #5d2f88
					display: flex
					align-items: center
					form
						display: flex
						align-items: center
						input
							width: 510px
							background: #5d2f88
							border 0
							color: #fff
							outline none
						input[type="text"]
							color: #fff
							font-family 'OpenSans-Light'
							font-size: 15px
							padding-left: 15px
							vertical-align: middle
							-webkit-appearance: none
							&:focus
								&::-webkit-input-placeholder
										color transparent
								&:-moz-placeholder
										color transparent
								&::-moz-placeholder
										color transparent
								&:-ms-input-placeholder
										color transparent
						::-webkit-input-placeholder
							color #fff

						::-moz-placeholder
							color #fff

						:-ms-input-placeholder
							color #fff

						:-moz-placeholder
							color #fff
						input[type="submit"]
							cursor pointer
							width 20px
							height 20px
							border none
							background url(../img/loop.svg) no-repeat 50% 50%
				.down-login
					display: flex
					align-items: center
					margin-left: 30px
					.download
						a
							font-size: 15px
							color: #fff
							font-family 'OpenSans-Light'
							&:hover
								color #f7941d
					.login
						display: flex
						white-space: nowrap
						align-items: center
						margin-left: 30px
						a
							font-size: 15px
							color: #fff
							font-family 'OpenSans-Light'
							svg
								margin-left: 5px
								margin-bottom: -3px
							&:hover
								color #f7941d
								path
									fill #f7941d
				.phone
					margin-left: 90px
					display: flex
					white-space: nowrap
					align-items: center
					a
						text-decoration: none
						font-size: 18px
						color: #fff
						font-family 'PT-Sans-Regular'
						&:hover
							color #f7941d
		.zigzag
			background #3A1955
			position relative
			height 16px
			z-index 1
			top: 7px
			&:before
				content ""
				display block
				position absolute
				left 0
				right 0
				height 44px
				top 9px
				background linear-gradient(-90deg, #5D2F88 8px, transparent 0) 0 8px, linear-gradient(90deg, #5D2F88 8px, transparent 0) 0px 17px
				background-position top left
				background-size 1px 16px
			&:after
				content ""
				display block
				position absolute
				left -6px
				right 0
				height 50px
				top 15%
				background linear-gradient(-132deg, #3A1955 8px, transparent 0) 0 13px, linear-gradient(132deg, #3A1955 8px, transparent 0) 0 0
				background-position top left
				background-repeat repeat-x
				background-size 18px 50px
.container
	display flex
	flex-flow: row-reverse
	margin 0 auto
	max-width 1280px
	a.basket
		font-family 'OpenSans'
		cursor pointer
		display flex
		position relative
		color #fff
		height 44px
		padding-left 15px
		padding-right 61px
		background #ef4136
		align-items center
		text-align center
		margin-left auto
		float right
		right 0
		top 0
		z-index 2
		&:hover
			background #e31508
		&:after
			content ""
			display block
			position absolute
			left 0
			right 0
			height 50px
			top -7px
			background linear-gradient(-132deg, #3A1955 8px, transparent 0) 0 13px, linear-gradient(132deg, #3A1955 8px, transparent 0) 0 0
			background-position top left
			background-repeat repeat-x
			background-size 18px 50px
		img
			position: absolute
			right: 15px
	.left-group-links
		position: relative
		display: flex
		height: 44px
		align-items: center
		text-align: center
		font-family: 'OpenSans-Light'
		color: #fff
		float: left
		top: 0
		z-index: 2
		.mobile-delivery
			display: none
		a
			margin-left: 30px
		a.catalog
			color: #fff
			display: flex
			margin-left: 0
			align-items: center
			flex-flow: row-reverse
			svg
				padding-top: 2px
				margin-right: 10px
			&:hover
				color #f7941d
				rect
					fill #f7941d
		a
			&:hover
				color #f7941d
		.vertical-line
			margin-left: 30px
			width: 1px
			height: 50%
			opacity: 0.5
			background: #776c81
			z-index: 50
			display: block
		p
			margin-left: 30px
			a
				margin: 0
				color: #f7941d
				text-decoration: underline
				&:hover
					color #fff
			span
				margin-right: 10px
				margin-left: 10px
				color: #fff
#slider
	max-height 425px
	.slide-present
		margin 0 auto
		align-items: center
		display flex !important
		justify-content center
		img
			width 100%
			max-height 425px
	.slider-content
		margin-top 30px
		position absolute
		text-align center
		img
			width 764px
			height: 190px
		p
			width 278px
			height 65px
			opacity 0.8
			color #fff
			font-family 'Roboto-Light'
			font-size 20px
			font-weight 100
			margin 0 auto
// --FOR-SLIDER--
.prev-head-slider
	cursor pointer
	img
		top 55%
		z-index 2
		width 12.12px
		height 22.64px
		margin-left 68px
		display block
		position absolute

.next-head-slider
	cursor pointer
	img
		top 55%
		z-index 2
		right 0
		width 12.12px
		height 22.64px
		margin-right 68px
		display block
		position absolute

.slick-dots
	display flex
	margin-top -55px
	justify-content center

.pager
	width 20px
	height 2px
	opacity 0.19
	position absolute
	background-color #fff

.slick-active
	.pager
		opacity 1
		border-radius 15px
		background-color #fff

ul,li
	list-style-type none
	display inline
	margin-right 25px

.container-foods
	max-width 1280px
	margin: 0 auto
	padding-bottom 0 !important
	padding-left 60px
	.sale
		margin: 65px auto
		display: block
		h1
			color #EF4136
			font-size 20px
			font-family 'Roboto-Bold'
			text-transform uppercase
			margin-bottom 25px
			letter-spacing 2px
			span
				color $grey
				margin-left 15px
				font-size 16px
				font-family 'Roboto-Regular'
				font-weight 100
				letter-spacing 0
		.all-list
			float right
			margin-top -45px
			margin-right 20px
			margin-right 5%
			a
				color #000
				font-size 13px
				background: #EFEFED
				font-family 'PT-Sans-Regular'
				padding: 8px 20px
				border-radius: 9px
				transition: all 0.3s ease
				&:hover
					color #fff
					transition: all 0.3s ease
					background: #ef4136
		#viewedProducts
			width 100%
			display flex
			flex-wrap wrap
			&:focus
				outline: none
			.slick-list
				max-height: 415px
				.good
					outline: none
					display block
					width 181.27px
					height auto
					min-height 208px
					background: #fff
					transition: 0.25s
					border 1px solid #DEDEDE
					&:hover
						transition: 0.25s
						-webkit-transform: scale(1.001)
						-ms-transform: scale(1.001)
						transform: scale(1.001)
						box-shadow: 0 6px 30px rgba(0,0,0,0.15)
					&:focus
						outline: none
					a
						.good-img
							width 62px
							height auto
							margin 0 auto
							img
								width 100%
						.good-text
							width 160px
							height auto
							min-height 61px
							color #000
							margin 0 auto
							font-size 15px
							text-align: center
							font-family 'PT-Sans-Regular'
							p
								margin 0
								margin-top 10px
								margin-bottom: 10px
								word-wrap break-word
						.good-price-and-unit
							display flex
							margin-top: 27px
							justify-content space-between
							.good-price
								min-width 36px
								white-space nowrap
								height 19px
								margin 2px 17px
								p
									margin 0
									color #000
									font-size 17px
									font-family 'OpenSans-Bold'
							.good-unit
								white-space nowrap
								height 23px
								margin-top 2px
								margin 2px 17px
								.plus
									width 27px
									height 26px
									border-radius 8px
									&:hover
										background #EF4136
										&:after,&:before
											background: #fff
									&:after
										content ""
										pointer-events:none
										position absolute
										background #707070
										height 2px
										width 14px
										margin-top 12px
										transition: all 0.5s ease
										transform rotate(0deg)
										margin-left 6.4px
									&:before
										content ""
										pointer-events:none
										position absolute
										background #707070
										height 2px
										width 14px
										margin-top 12px
										transition: all 0.5s ease
										transform rotate(90deg)
										margin-left 6.4px
								.minus
									width 27px
									height 26px
									border-radius 8px
									background-color #EF4136
									&:after
										background #fff
										transition: all 0.5s ease !important
										transform rotate(90deg)
									&:before
										content ""
										pointer-events:none
										position absolute
										background #fff
										height 2px
										width 14px
										transition: all 0.5s ease !important
										transform rotate(180deg)
										margin-top 12px
										margin-left 6.4px
		.reviews-gradient
			width: 145px
			height: 250px
			position: relative
			float: right
			right: -2px
			margin-top: -250px
			background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 1%, rgba(246, 246, 245, 0.1) 1%, #fff 90%)
.container-popular
	max-width 1280px
	margin: 0 auto
	padding-bottom 0 !important
	padding-left 60px
	.sale
		margin: 65px auto
		display: block
		h1
			color #000
			font-size 20px
			font-family 'Roboto-Bold'
			text-transform uppercase
			margin-bottom 25px
			letter-spacing 2px
			span
				color $grey
				margin-left 15px
				font-size 16px
				font-family 'Roboto-Regular'
				font-weight 100
				letter-spacing 0
		.all-list
			float right
			margin-top -45px
			margin-right 20px
			margin-right 5%
			a
				color #000
				font-size 13px
				background: #EFEFED
				font-family 'PT-Sans-Regular'
				padding: 8px 20px
				border-radius: 9px
				transition: all 0.3s ease
				&:hover
					color #fff
					transition: all 0.3s ease
					background: #ef4136
		#popularProducts
			width 100%
			display flex
			flex-wrap wrap
			&:focus
				outline: none
			.good
				outline: none
				display block
				width 181.27px
				height auto
				min-height 275px
				background: #fff
				transition: 0.25s
				border 1px solid #DEDEDE
				&:hover
					transition: 0.25s
					-webkit-transform: scale(1.001)
					-ms-transform: scale(1.001)
					transform: scale(1.001)
					box-shadow: 0 6px 30px rgba(0,0,0,0.15)
				&:focus
					outline: none
				a
					.good-img
						width 112px
						height auto
						margin 0 auto
						margin-top: 20px
						img
							width 100%
					.good-text
						width 160px
						height auto
						min-height 61px
						color #000
						margin 0 auto
						font-size 15px
						text-align: center
						font-family 'PT-Sans-Regular'
						p
							margin 0
							margin-top 20px
							margin-bottom: 10px
							word-wrap break-word
					.good-price-and-unit
						display flex
						margin-top: 27px
						justify-content space-between
						.good-price
							min-width 36px
							white-space nowrap
							height 19px
							margin 2px 17px
							p
								margin 0
								color #000
								font-size 17px
								font-family 'OpenSans-Bold'
						.good-unit
							white-space nowrap
							height 23px
							margin-top 2px
							margin 2px 17px
							.plus
								width 27px
								height 26px
								border-radius 8px
								&:hover
									background #EF4136
									&:after,&:before
										background: #fff
								&:after
									content ""
									pointer-events:none
									position absolute
									background #707070
									height 2px
									width 14px
									margin-top 12px
									transition: all 0.5s ease
									transform rotate(0deg)
									margin-left 6.4px
								&:before
									content ""
									pointer-events:none
									position absolute
									background #707070
									height 2px
									width 14px
									margin-top 12px
									transition: all 0.5s ease
									transform rotate(90deg)
									margin-left 6.4px
							.minus
								width 27px
								height 26px
								border-radius 8px
								background-color #EF4136
								&:after
									background #fff
									transition: all 0.5s ease !important
									transform rotate(90deg)
								&:before
									content ""
									pointer-events:none
									position absolute
									background #fff
									height 2px
									width 14px
									transition: all 0.5s ease !important
									transform rotate(180deg)
									margin-top 12px
									margin-left 6.4px
		.reviews-gradient
			width: 145px
			height: 300px
			position: relative
			float: right
			right: -2px
			margin-top: -300px
			background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 1%, rgba(246, 246, 245, 0.1) 1%, #fff 90%)

.container-water, .container-fruits, .container-milk
	max-width 1280px
	margin: 0 auto
	padding-bottom 0 !important
	padding-left 60px
	.sale
		margin: 65px auto
		display: block
		h1
			color #000
			font-size 20px
			font-family 'Roboto-Bold'
			text-transform uppercase
			margin-bottom 25px
			letter-spacing 2px
			span
				color $grey
				margin-left 15px
				font-size 16px
				font-family 'Roboto-Regular'
				font-weight 100
				letter-spacing 0
		.all-list
			float right
			margin-top -45px
			margin-right 20px
			margin-right 5%
			a
				color #000
				font-size 13px
				background: #EFEFED
				font-family 'PT-Sans-Regular'
				padding: 8px 20px
				border-radius: 9px
				transition: all 0.3s ease
				&:hover
					color #fff
					transition: all 0.3s ease
					background: #ef4136
		#water, #fruits, #milk
			width 100%
			display flex
			flex-wrap wrap
			&:focus
				outline: none
			.slick-list
				max-height: 415px
				.good
					outline: none
					display block
					width 230px
					height auto
					min-height 275px
					background: #fff
					transition: 0.25s
					border 1px solid #DEDEDE
					&:hover
						transition: 0.25s
						-webkit-transform: scale(1.001)
						-ms-transform: scale(1.001)
						transform: scale(1.001)
						box-shadow: 0 6px 30px rgba(0,0,0,0.15)
					&:focus
						outline: none
					a
						.good-img
							width 112px
							height auto
							margin 0 auto
							img
								width 100%
						.good-text
							width 160px
							height auto
							min-height 61px
							color #000
							margin 0 auto
							font-size 15px
							text-align: center
							font-family 'PT-Sans-Regular'
							p
								margin 0
								margin-top 20px
								margin-bottom: 20px
								word-wrap break-word
						.good-price-and-unit
							display flex
							margin-top: 27px
							justify-content space-between
							.good-price
								min-width 36px
								white-space nowrap
								height 19px
								margin 2px 17px
								p
									margin 0
									color #000
									font-size 17px
									font-family 'OpenSans-Bold'
							.good-unit
								white-space nowrap
								height 23px
								margin-top 2px
								margin 2px 17px
								.plus
									width 27px
									height 26px
									border-radius 8px
									&:hover
										background #EF4136
										&:after,&:before
											background: #fff
									&:after
										content ""
										pointer-events:none
										position absolute
										background #707070
										height 2px
										width 14px
										margin-top 12px
										transition: all 0.5s ease
										transform rotate(0deg)
										margin-left 6.4px
									&:before
										content ""
										pointer-events:none
										position absolute
										background #707070
										height 2px
										width 14px
										margin-top 12px
										transition: all 0.5s ease
										transform rotate(90deg)
										margin-left 6.4px
								.minus
									width 27px
									height 26px
									border-radius 8px
									background-color #EF4136
									&:after
										background #fff
										transition: all 0.5s ease !important
										transform rotate(90deg)
									&:before
										content ""
										pointer-events:none
										position absolute
										background #fff
										height 2px
										width 14px
										transition: all 0.5s ease !important
										transform rotate(180deg)
										margin-top 12px
										margin-left 6.4px
		.reviews-gradient
			width: 145px
			height: 300px
			position: relative
			float: right
			right: -2px
			margin-top: -300px
			background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 1%, rgba(246, 246, 245, 0.1) 1%, #fff 90%)
footer
	width: 100%
	height: auto
	margin-top: -20px
	background: #3A1955
	.container
		height: 250px
		margin: 0 auto
		max-width: 1280px
		display: block
		.footer-up
			background: #3A1955
			.logo
				padding-top: 40px
				width: 110px
				height: 32px
				img
					width: 100%
			.footer-left
				float: left
				.links-block
					margin-top: 30px
					width: 270px
					display: flex
					.left
						color: #fff
						font-size: 14px
						margin-right: 45px
						display: flex
						flex-direction: column
						text-decoration: underline
						font-family 'OpenSans-Light'
						a
							color: #fff
							margin-bottom: 10px
							&:hover
								color #f7941d
					.right
						color: #fff
						font-size: 14px
						display: flex
						flex-direction: column
						text-decoration: underline
						font-family 'OpenSans-Light'
						a
							color: #fff
							margin-bottom: 10px
							&:hover
								color #f7941d
			.footer-right
				float: right
				display: block
				padding-top: 40px
				a.tel
					color: #fff
					font-size: 22px
					text-decoration: none
					font-family 'OpenSans-Bold'
					&:hover
						color #f7941d
				a.mail
					color: #fff
					float: right
					font-size: 14px
					padding-top: 10px
					text-decoration: underline
					font-family 'Roboto-Regular'
					&:hover
						color #f7941d
				.cards
					margin-top: 60px
					width: 192px
					height: 34px
					img
						width: 100%

	.footer-down
		width: 100%
		height: 7vw
		background-size: cover
		background-repeat: no-repeat
		background-image: url(../img/footer-back.jpg)
		.container
			margin: 0 auto
			height: inherit
			max-width: 1280px
			display: flex
			align-items: center
			a
				margin-left: 10px
@import '/fonts.styl'
@import '/water.styl'
@import '/vegetables.styl'
@import '/mobile.styl'
