footer
	.container
		.footer-up
			.footer-left
				.logo
					img(src="./dist/img/logo.svg")
				.links-block
					.left
						a Delivery
						a Help
						a Mobile App
					.right
						a Catalog
						a Sale
						a FAQ
			.footer-right
				a.tel(href='tel:+994 50 567-12-43') +994 50 567-12-43
				br
				a.mail(href="mailto:mail@prodel.az") mail@prodel.az
				br
				.cards
					img(src="./dist/img/Visa&Master.svg")
	.footer-down
		.container
			a
				img(src="./dist/img/google-play.png")
			a
				img(src="./dist/img/app-store.png")
script(src="./dist/js/jquery.js")
script(src="./dist/js/swiper.min.js")
script(src="./dist/js/slick.js")
script(src="./dist/js/script.js")
