footer
	.container
		.footer-up
			.footer-left
				.logo
					img(src="./dist/img/logo.svg")
				.links-block
					.left
						a Delivery
						br
						a Help
						br
						a Mobile App
					.right
						a Catalog
						br
						a Sale
						br
						a FAQ
			.footer-right
				a.tel(href='tel:+994 50 567-12-43') +994 50 567-12-43
				br
				a.mail(href="mailto:mail@prodel.az") mail@prodel.az
				br
				.cards
					img(src="./dist/img/Visa&Master.svg")
	.footer-down
script(src="./dist/js/jquery.js")
script(src="./dist/js/slick.js")
script(src="./dist/js/script.js")
